<div class="navbar d-flex justify-content-around p-4 vw-100 border-bottom">

  <div class="icon_btn home_icon col mx-3" style="text-align: center;">

    <%= link_to "root_path" do %>
      <i class="fa-brands fa-fort-awesome" style="color: #ffffff;"></i>
      <p  class="text-decoration-underline" style="color: #ffffff;">HOME</p>
    <% end %>


  </div>

  <div class="icon_btn about_icon col mx-3" style="text-align: center;">

    <%= link_to "/#about" do %>
      <i class="fa-solid fa-address-card" style="color: #ffffff;"></i>
      <p class="text-decoration-underline" style="color: #ffffff;">ABOUT</p>
    <% end %>


  </div>

  <div class="icon_btn skills_icon col mx-3" style="text-align: center;">

    <%= link_to "/#skills" do %>
      <i class="fa-solid fa-kitchen-set"  style="color: #ffffff;"></i>
      <p class="text-decoration-underline" style="color: #ffffff;">SKILLS</p>
    <% end %>


  </div>

  <div class="icon_btn contact_icon col mx-3" style="text-align: center;">

    <%= link_to "/#contact" do %>
      <i class="fa-solid fa-mobile-screen-button" style="color: #ffffff;"></i>
      <p class="text-decoration-underline" style="color: #ffffff;">CONTACT</p>
    <% end %>


  </div>

  <div class="icon_btn resume_icon col mx-3" style="text-align: center;">

    <%= link_to root_path do %>
      <i class="fa-solid fa-file" style="color: #ffffff;"></i>
      <p class="text-decoration-underline" style="color: #ffffff;">RESUME</p>
    <% end %>


  </div>

</div>
